<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;800&family=Encode+Sans+Semi+Expanded:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>@ViewData["Title"]</title>

    <script src="~/js/common.js" asp-append-version="true"></script>
</head>


<body>
    <header style="padding-bottom: 70px">
        <nav>
            @Html.ActionLink("Take Orders", "CurrentOrdersPage", "CourierPage")
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>