@{
    ViewData["Title"] = "Login Page";
}


<form>
     Для логына
     <label>
           Password
     </label>
    <input />
</form>

<form>
     Если логин не подходит то поля регистрации .....

     <label>
           Password
     </label>
    <input />
</form>


